<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="{base}"><i class="fa fa-dashboard text-aqua"></i> <span>Dashboard</span></a>
		<li class="treeview"><a href="#"><i class="fa fa-bed text-yellow"></i> 			
		<span>Penginapan</span>
		<span class="pull-right-container">
		  <i class="fa fa-angle-left pull-right"></i>
		</span>
		</a>
			  <ul class="treeview-menu">
				<li><a href="{base}/penginapan/hotel"><i class="fa fa-minus text-yellow"></i> Hotel</a></li>
				<li><a href="{base}/penginapan/guesthouse"><i class="fa fa-minus text-yellow"></i> Guest House</a></li>
				<li><a href="{base}/penginapan/kost"><i class="fa fa-minus text-yellow"></i> Kost</a></li>
			  </ul>
		</li>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user-circle text-red"></i>
            <span>Turis</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
			
            
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-aqua"></i> 			
			<span>Objek Wisata</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="bahari.html"><i class="fa fa-minus text-aqua"></i> Bahari</a></li>
					<li><a href="alam.html"><i class="fa fa-minus text-aqua"></i> Alam</a></li>
					<li><a href="kreatif.html"><i class="fa fa-minus text-aqua"></i> Kreatif</a></li>
				  </ul>
			</li>
			
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-yellow"></i> 			
			<span>Hiburan</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="mall.html"><i class="fa fa-minus text-yellow"></i> Mall</a></li>
					<li><a href="olahraga.html"><i class="fa fa-minus text-yellow"></i> Olahraga</a></li>
					<li><a href="oleholeh.html"><i class="fa fa-minus text-yellow"></i> Oleh-oleh</a></li>
				  </ul>
			</li>
			
            <li><a href="tamankota.html"><i class="fa fa-circle-o text-blue"></i> Taman Kota</a></li>
            <li><a href="birowisata.html"><i class="fa fa-circle-o text-purple"></i> Biro Wisata</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-industry text-yellow"></i>
            <span>Creative Industry</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-yellow"></i> 			
			<span>Produk Kreatif</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-minus text-yellow"></i> Kriya</a></li>
					<li><a href="#"><i class="fa fa-minus text-yellow"></i> Kuliner</a></li>
				  </ul>
			</li>
			
            
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-aqua"></i> 			
			<span>Jasa Kreatif</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-minus text-aqua"></i> Aplikasi & Permainan</a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Musik</a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Film</a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Video & Fotografi </a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Percetakan </a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Desain Interior  </a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Seni Pertunjukkan  </a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Radio  </a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Televisi  </a></li>
					<li><a href="#"><i class="fa fa-minus text-aqua"></i> Fashion  </a></li>
				  </ul>
			</li>
            <li><a href="{base}/kreatif/kegiatan"><i class="fa fa-circle-o text-danger"></i> Kegiatan Kreatif</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-success"></i> Ruang Kreatif</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-server text-green"></i>
            <span>Public Services</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
		  
            <li class="treeview"><a href="#"><i class="fa fa-hospital-o text-green"></i> 			
			<span>Pelayanan Kesehatan </span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-minus text-green"></i> Rumah Sakit</a></li>
					<li><a href="#"><i class="fa fa-minus text-green"></i> Puskesmas</a></li>
				  </ul>
			</li>
            <li class="treeview"><a href="#"><i class="fa fa-graduation-cap text-blue"></i> 			
			<span>Sekolah / Kampus</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-minus text-blue"></i> Swasta</a></li>
					<li><a href="#"><i class="fa fa-minus text-blue"></i> Pemerintah Kota</a></li>
				  </ul>
			</li>
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-red"></i> 			
			<span>Kependudukan</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-minus text-red"></i> Perizinan</a></li>
					<li><a href="#"><i class="fa fa-minus text-red"></i> Capil</a></li>
					<li><a href="#"><i class="fa fa-minus text-red"></i> Pajak</a></li>
					<li><a href="#"><i class="fa fa-minus text-red"></i> Imigrasi</a></li>
				  <li><a href="#"><i class="fa fa-minus text-red"></i>SIM/STNK</a></li>
				  </ul>
			</li>
          </ul>
        </li>
		
		 <li class="treeview">
          <a href="#">
            <i class="fa fa-automobile text-danger"></i>
            <span>Transportation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-plane text-aqua"></i> Udara</a></li>
            <li><a href="#"><i class="fa fa-ship text-blue"></i> Laut</a></li>
           
            <li class="treeview"><a href="#"><i class="fa fa-bus text-warning"></i> 			
			<span>Darat</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-map-signs	 text-warning"></i>Terminal</a></li>
				  <li><a href="#"><i class="fa fa-bus text-warning"></i>Angkutan Kota</a></li>
				  <li><a href="#"><i class="fa fa-taxi text-warning"></i> Taxi</a></li>
				  <li><a href="#"><i class="fa fa-puzzle-piece text-warning"></i>Transportasi Online</a></li>
				  </ul>
			</li>
          </ul>
        </li>
        
		
        <li class="treeview">
          <a href="#">
            <i class="fa fa-search text-purple"></i>
            <span>Job Seeker</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-purple"></i> 			
			<span>Info Lowongan Kerja</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-minus text-purple"></i> BUMN</a></li>
				  <li><a href="#"><i class="fa fa-minus text-purple"></i> BUMD</a></li>
				  <!-- <li><a href="#"><i class="fa fa-minus text-purple"></i> CPNS</a></li> -->
				  <li><a href="#"><i class="fa fa-minus text-purple"></i> Swasta Lainnya</a></li>
				  </ul>
			</li>
            <!-- <li class="treeview"><a href="#"><i class="fa fa-circle-o text-blue"></i> 			 -->
			<!-- <span>Pusdiklat Karir</span> -->
			<!-- <span class="pull-right-container"> -->
			  <!-- <i class="fa fa-angle-left pull-right"></i> -->
			<!-- </span> -->
			<!-- </a> -->
				  <!-- <ul class="treeview-menu"> -->
				  <!-- <li><a href="#"><i class="fa fa-minus text-blue"></i> IT</a></li> -->
				  <!-- <li><a href="#"><i class="fa fa-minus text-blue"></i> Sekretaris</a></li> -->
				  <!-- <li><a href="#"><i class="fa fa-minus text-blue"></i> Mesin</a></li> -->
				  <!-- <li><a href="#"><i class="fa fa-minus text-blue"></i> Elektro</a></li> -->
				  <!-- </ul> -->
			<!-- </li> -->
            <li class="treeview"><a href="#"><i class="fa fa-circle-o text-warning"></i> 			
			<span>Kebijakan Tenaga Kerja</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-left pull-right"></i>
			</span>
			</a>
				  <ul class="treeview-menu">
				  <li><a href="#"><i class="fa fa-money text-warning"></i> UMP / UMR</a></li>
				  <li><a href="#"><i class="fa fa-book text-warning"></i> UU Tenaga Kerja</a></li>
				  <!-- <li><a href="#"><i class="fa fa-address-card text-aqua"></i> BPJS Tenaga Kerja</a></li> -->
				  </ul>
			</li>
          </ul>
        </li>
		
        
      </ul>
    </section>
    <!-- /.sidebar -->
	<!--
	 lanjut yg lain dulu
	 
	
	-->
  </aside>
  
 
