 <div class=" ">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Demo</small>
      </h1>
      <!-- <ol class="breadcrumb"> -->
        <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
        <!-- <li class="active">Dashboard</li> -->
      <!-- </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="box">
					<div class="box-body">
						<img src="{base}/aset/images/flatbalikpapan.png" width="100%">
					</div>
				</div>
			</div>
		</div>
	  
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-user-circle-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Tourism</span>
              <span class="info-box-text col-xs-6"><a href="#">Hotel</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Objek Wisata</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Hiburan</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Taman Kota</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Biro Swasta</a></span>
              <!-- <span class="info-box-number">90<small>%</small></span> -->
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-industry"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Creative Industry</span>
              <span class="info-box-text col-xs-6"><a href="#">Produk Kreatif</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Jasa Kreatif</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Kegiatan Kreatif</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Ruang Kreatif</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Public Services</span>
              <span class="info-box-text col-xs-6"><a href="#">Rumah Sakit</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Sekolah / Kampus</a></span>
              <span class="info-box-text col-xs-6"><a href="#"> Kontak Darurat</a></span>
              <span class="info-box-text col-xs-6"><a href="tanyawarga.html">Tanya Warga</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-bus"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Transportation</span>
              <span class="info-box-text col-xs-12"><a href="#">Udara</a></span>
              <span class="info-box-text col-xs-12"><a href="#">Laut</a></span>
              <span class="info-box-text col-xs-12"><a href="#">Darat</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-purple"><i class="fa fa-search"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Job Seeker</span>
              <span class="info-box-text col-xs-6"><a href="#">Info Loker</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Pusdiklat Karir</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Kebijakan T. Kerja</a></span>
              <span class="info-box-text col-xs-6"><a href="#">BPJS</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
