
    <section class="content-header">
      <h1>
        Guest House
        <small>Demo</small>
      </h1>
      <!-- <ol class="breadcrumb"> -->
        <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
        <!-- <li class="active">Dashboard</li> -->
      <!-- </ol> -->
    </section>

    <section class="content">

      <!-- Default box -->
      <div class="row">
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Emweka
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="https://pix16.agoda.net/hotelImages/173/173630/173630_15072214460032783020.jpg?s=1100x825">
							</td>
						</tr>
						<tr>
							<td>
								Jl. Praja Bakti
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Golden Snail
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="https://pix16.agoda.net/hotelImages/173/173630/173630_15072214460032783020.jpg?s=1100x825">
							</td>
						</tr>
						<tr>
							<td>
								Jl. soekarno hatta
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					GH Sepinggan
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="https://pix16.agoda.net/hotelImages/173/173630/173630_15072214460032783020.jpg?s=1100x825">
							</td>
						</tr>
						<tr>
							<td>
								Jl. Irsma Wahyudi
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->