 <div class=" ">
	<section class="content-header">
      <h1>
        Hotel
        <small>Demo</small>
      </h1>
      <!-- <ol class="breadcrumb"> -->
        <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
        <!-- <li class="active">Dashboard</li> -->
      <!-- </ol> -->
    </section>

    <section class="content">

      <!-- Default box -->
      <div class="row">
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary collapsed-box">
				<div class="panel-heading">
					Hotel Platinum
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
							</button>
						</div>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="http://cdn2.tstatic.net/kaltim/foto/bank/images/hotel-platinum_20151002_102542.jpg">
							</td>
						</tr>
						<tr>
							<td>
								Jl. Soekarno Hatta KM 5 No. 7 
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Hotel New Benakutai
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="https://pix16.agoda.net/hotelImages/298/298115/298115_14071208470020245785.jpg?s=1100x825">
							</td>
						</tr>
						<tr>
							<td>
								Jl. Ahmad Yani Nomor 50
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Grand Jatra Hotel
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="http://2.bp.blogspot.com/-0YLKGAg_EEs/Uo4KMzh7RwI/AAAAAAAALvc/SQQQaGLbUrw/s1600/Grand+Jatra+Hotel+Balikpapan.jpg">
							</td>
						</tr>
						<tr>
							<td>
								Jl. Jend Sudirman No. 47 Grand Sudirman, Damai - 76410
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Hotel Aston
				</div>
				<div class="panel-body">
					<table class="table">
						<tr><td>
								<img width="100%" src="https://pix16.agoda.net/hotelImages/173/173630/173630_15072214460032783020.jpg?s=1100x825">
							</td>
						</tr>
						<tr>
							<td>
								Jl. Jend Sudirman No. 7 Grand Sudirman, Klandasan Ilir - 76411
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-phone-square"></span> (0542) 3001818
							</td>
						</tr>
						<tr><td>
								<a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-primary">Viep Map</a>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
      </div>
      <!-- /.box -->

    </section>
</div>