 
	 <section class="content">
      <!-- Default box -->
      <div class="panel panel">
      <div class="panel-heading">
      <!-- search form -->
      <form action="#" method="get">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Cari Kost ....">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- <ol class="breadcrumb"> -->
        <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
        <!-- <li class="active">Dashboard</li> -->
      <!-- </ol> -->
	
	  </div>
		<div class="panel-body">
			  <div class="box box-danger collapsed-box box-solid">
				<div class="box-header with-border text-center">
					<h3 class="box-title text-uppercase">Kost Tri R </h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
							</button>
						</div>
				</div>
				<div class="box-body text-center">
					<p>
				  Jl. Prajamukti utara 1 RT 65 NO15. Kelurahan sepinggan Balikpapan </p>
					<p><span class="fa fa-phone-square"></span> (0542) 3001818</p>
				  <img width="100%" src="http://1.bp.blogspot.com/-G4xbNrZXJxs/VO6J2Yj7BeI/AAAAAAAAACM/tNmllvVIjTI/s1600/executive%2Broom%2Bemweka%2Bpavillion%2B(3).JPG">

				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				 <a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-danger btn-block">Viep Map</a>


				</div>
				<!-- /.box-footer-->
			  </div>
			  <div class="box box-solid box-info collapsed-box">
				<div class="box-header with-border text-center">
					<h3 class="box-title text-uppercase">Kost Bali</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
							</button>
						</div>
				</div>
				<div class="box-body text-center">
					<p>Jl. Siaga Blok G20 Balikpapan</p>
					<p><span class="fa fa-phone-square"></span> (0542) 3001818</p>
				  <img width="100%" src="https://pix16.agoda.net/hotelImages/173/173630/173630_15072214460032783020.jpg?s=1100x825">

				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				 <a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-info btn-block">Viep Map</a>


				</div>
				<!-- /.box-footer-->
			  </div>
			  <div class="box box-warning box-solid collapsed-box">
				<div class="box-header with-border text-center">
					<h3 class="box-title text-uppercase">Kost Rahayu</h3>
					  <div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
						</button>
					  </div>
				</div>
				
				<div class="box-body text-center">
					<p>Jl. Pattimura Blok G20 Balikpapan</p>
					<p><span class="fa fa-phone-square"></span> (0542) 355818</p>
				  <img width="100%" src="https://pix16.agoda.net/hotelImages/173/173630/173630_15072214460032783020.jpg?s=1100x825">

				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				 <a href="https://goo.gl/maps/tSnm7aQeGcU2" class="btn btn-warning btn-block">Viep Map</a>
				</div>
				<!-- /.box-footer-->
			  </div>


          <!-- /.box -->
        </div>
        </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->