<ol class="breadcrumb">
	<li><a href="#" class="text-yellow"><i class="fa fa-bed"></i> Turis</a></li> 
</ol>
    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-sm-4">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-building-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">HOTEL</span>
              <span class="info-box-text col-xs-6"><a href="#">Hotel</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Objek Wisata</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Hiburan</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Taman Kota</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Biro Swasta</a></span>
              <!-- <span class="info-box-number">90<small>%</small></span> -->
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-industry"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Creative Industry</span>
              <span class="info-box-text col-xs-6"><a href="#">Produk Kreatif</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Jasa Kreatif</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Kegiatan Kreatif</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Ruang Kreatif</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="col-sm-4">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-server"></i></span>

            <div class="info-box-content">
              <span class="info-box-number">Public Services</span>
              <span class="info-box-text col-xs-6"><a href="#">Rumah Sakit</a></span>
              <span class="info-box-text col-xs-6"><a href="#">Sekolah / Kampus</a></span>
              <span class="info-box-text col-xs-6"><a href="#"> Kontak Darurat</a></span>
              <span class="info-box-text col-xs-6"><a href="tanyawarga.html">Tanya Warga</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <!-- /.row -->
<div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-building"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      
      <!-- /.row -->
    </section>
    <!-- /.content -->